.Card-container {
  border: 1px solid black;
  width: 15rem;
  height: 10rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.Avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.card-header {
  display: flex;
  align-items: center;
}

.Description {
  font-size: 12px;
  line-height: 12px;
}

.card-header p {
  padding-left: 1rem;
  word-break: break-word;
}

.card-footer {
  padding-top: 2rem;
}
